.home-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  padding: 30px;
}

.home-content {
  max-width: 500px;
}

.home-heading {
  color: white;
  font-size: 40px;
}

.home-description {
  color: white;
  line-height: 1.8;
}

.find-jobs-button {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}